*{
    margin: 0;
    padding: 0;
}
body{ 
    background: black;  
}
.post{
    height: 550px;
    width: 450px;
    margin: auto;
    background-color: white;
}
.post-header{
    display: flex;
    width: 100%;
    height: 45px;
    margin-top: 10%;
}
i{
    font-size: 25px;
}
.post-img img{    
    width: 100%;
}
.post-body{
    width: 100%;
}
.post-icons{       
    background-color: yellow;
    display: flex;
    padding: 5px;
}
p{
    padding: 5px;
}
