*{
    padding: 0;
}
body{ 
    background: black;  
    font-family: sans-serif;
}
.post{
    height: 600px;
    width: 450px;
    margin: auto;
    background-color: white;
}
.post-header{
    display: flex;
    height: 45px;
    justify-content: space-between;
    padding: 5px;
}
.post-icons-left{
    display: flex;
    padding: 5px;
}
.post-icons-left p{
    margin-top: 3px;
    font-size: 12px;
}
.post-icons-right{
    padding: 5px;
}
i{
    font-size: 25px;
    padding: 5px;
}
.post-img img{    
    width: 100%;
}
.post-body{
    width: 100%;
}
.post-icons{       
    display: flex;    
    padding: 5px;    
    justify-content: space-between;
}
.post-body-paragraph{
    padding: 8px;
}
